@charset "UTF-8";
/* CSS Document */


body {

	margin: 0;
	padding: 0;
	font: 10px normal Arial, Helvetica, sans-serif;
}



 body { 
 background-color:#666666;
 
 }
 
 
#banner {
	background-color: #000000;
	height: 80px;
	width: 960px;
	background: url(images/ClarkLED-Banner960px80px.jpg) no-repeat center top;
	z-index:1;	
}



#footer {
	background-color: #333;
	height: 20px;
	width: 924px;
	clear: both;
	margin-top: 10px;
	padding: 20px 20px 1px 16px
}


#pageWrapper {
	width: 960px;
}


/*--------------------------top5 UL is for Navigation--------------------------*/

ul.top5  {
padding: 2px 2px 2px 2px;
	width: 190px;
	font-size: 14px;
}

ul.top5 li {
	text-align: left;
	list-style-type:none;
	padding: 2px 0px 2px 6px;
}


ul.product  {
    margin: 10px 20px 0px 350px;
    padding: 2px 2px 2px 2px;
	width: 490px;
	font-size: 10px;
}

ul.product li {
	text-align: left;
	text-decoration: none;
	padding: 1px 0px 1px 0px;
}



#crumbs { }
#crumbs ul {
text-align: left;
margin:0; 
padding:0;
}
#crumbs li {
display:inline; 
padding:1px;
}

a {
color: #27a8f9;
text-decoration:none
}

a:hover {
color:#00ff00;
text-decoration:underline; 
}


.blue {
color: blue;
}

/*--------------------------DIVs--------------------------*/


#imageContainer {
    float: left;
}

p {
    text-align: center;
}

#gallery{
float:left;
}





#indexTWOdivs{
    float: left;
    width: 666px;
    margin: 10px 10px 10px 0px;
    overflow: hidden; /* contain floated elements */
    background: #fff
}

#indexTWOdivsL{
    float: left;
    width: 666px;
    margin: 10px 10px 10px 0px;
    overflow: hidden; /* contain floated elements */
    background: #fff
}

#indexTWOdivsR{
    float: right;
    width: 666px;
    margin: 10px 10px 10px 0px;
    overflow: hidden; /* contain floated elements */
    background: #fff
}



#TWOdivsL{
    float: left;
    width: 666px;
    margin: 10px 10px 10px 0px;
    overflow: hidden; /* contain floated elements */
    background: #fff
}

#TWOdivsR{
    float: right;
    width: 666px;
    margin: 10px 10px 10px 0px;
    overflow: hidden; /* contain floated elements */
    background: #fff
}


.twocolumns {
    border-style: solid; 
	border-color: #000000;
	border-left-width: 0px; 
	border-right-width: 0px; 
	border-top-width: 0px; 
	border-bottom-width: 0px;
    float: left; 
    width: 320px;
    height: 300px;
    background-color: #fff;
    margin: 10px 12px 0px 0px;
    padding: 0px 10px 0px 10px;
}





#contentA {
	background-color: #000;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 1px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: left;
    height: 940px;
	width: 150px;
	padding: 10px 15px 10px 15px;
}

#contentC {
	background-color: #fff;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 0px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: right;
	height: 940px;
	width: 719px;
	padding: 10px 20px 10px 40px;
	}
	
	#contentA800 {
	background-color: #000;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 1px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: left;
    height: 800px;
	width: 150px;
	padding: 10px 15px 10px 15px;
}

#contentC800 {
	background-color: #fff;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 0px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: right;
	height: 800px;
	width: 719px;
	padding: 10px 20px 10px 40px;
	}
	
	
#contentA1200 {
	background-color: #000;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 1px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: left;
    height: 1200px;
	width: 150px;
	padding: 10px 15px 10px 15px;
}

#contentC1200 {
	background-color: #fff;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 0px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: right;
	height: 1200px;
	width: 719px;
	padding: 10px 20px 10px 40px;
	}
	
	
	#contentA1600 {
	background-color: #000;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 1px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: left;
    height: 1600px;
	width: 150px;
	padding: 10px 15px 10px 15px;
}


#contentC1600 {
	background-color: #fff;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 0px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: right;
	height: 1600px;
	width: 719px;
	padding: 10px 20px 10px 40px;
	}
	


	#contentA2000 {
	background-color: #000;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 1px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: left;
    height: 2000px;
	width: 150px;
	padding: 10px 15px 10px 15px;
}


#contentC2000 {
	background-color: #fff;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 0px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: right;
	height: 2000px;
	width: 719px;
	padding: 10px 20px 10px 40px;
	}
	
	
#contentA2600 {
	background-color: #000;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 1px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: left;
    height: 2600px;
	width: 150px;
	padding: 10px 15px 10px 15px;
}


#contentC2600 {
	background-color: #fff;
	border-style: solid; 
	border-color: #000;
	border-left-width: 0px; 
	border-right-width: 0px; 
	border-top-width: 0px; 
	border-bottom-width: 0px; 
	float: right;
	height: 2600px;
	width: 719px;
	padding: 10px 20px 10px 40px;
	}
	
	
#aboutTEXT {
	background-color: #fff;
	float: right;
	height: 600px;
	width: 640px;
	padding: 0px 60px 10px 10px;
	}

#TEXT {
	background-color: #fff;
	float: left;
	height: 300px;
	width: 600px;
	padding: 0px 60px 10px 10px;
	}
	
	
	#forsale {
	background-color: #fff;
	border-style: solid; 
	border-color: #000;
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px; 
	border-bottom-width: 1px;
	min-height: 190px;
    overflow: hidden;
	width: 640px;
	margin: 60px 20px 0px 0px;
	padding: 10px 20px 30px 20px;
	
	}
	
	
		#forsaleICS {
	background-color: #fff;
	border-style: solid; 
	border-color: #FFF;
	border-left-width: 1px; 
	border-right-width: 1px; 
	border-top-width: 1px; 
	border-bottom-width: 1px;
	min-height: 190px;
    overflow: hidden;
	width: 640px;
	margin: 60px 20px 0px 0px;
	padding: 10px 20px 30px 20px;
	
	}
	
	
#sidebarsocial {
	height: 60px;
	width: 120px;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	}
	
#sidebarsocial ul {
    margin:0; 
    padding:0;
    }
    
#sidebarsocial li {
    display:inline; 
    padding:5px;
    
}
	
#footersocial {
	height: 80px;
	width: 280px;
	margin: 0px 0px 0px 638px;
	padding: 0px 20px 0px 0px;
	}
	
#footersocial ul {
    margin:0; 
    padding:0;
    }
    
#footersocial li {
    display:inline; 
    padding:5px;
    
}


img { 
  border: solid 0px red;
}
	
.left {
  clear: left;
  float: left;
  margin: 0px 20px 30px 0px;
}

.right {
  clear: left;
  float: right;
  margin: 0px 0px 30px 20px;
}
	
#LINE140px {
	background-color: #0c9bf5;
	margin: 20px 20px 20px 0px;
	min-height: 1px;
    width: 150px;
}

#redLINE140px {
	background-color: #ff0000;
	margin: 2px 20px 2px 0px;
	min-height: 1px;
    width: 150px;
}

#blueLINE140px {
	background-color: #27a8f9;
	margin: 2px 20px 2px 0px;
	min-height: 1px;
    width: 150px;
}


#greenLINE140px {
	background-color: #00ff00;
	margin: 2px 20px 2px 0px;
	min-height: 1px;
    width: 150px;
}
/*--------------------------Formatting--------------------------*/

mark.COLORNAME {
    color:#ff00dd;
    background: none;
    font-size: 24px;  /* optional */
}


mark.red {
    color:#ff00dd;
    background: none;
}


mark.purple {
    color:#7E2EBC;
    background: none;
}

mark.green {
    color:#1beb1b;
    background: none;
}

.center {
	text-align: center;
}

p {
	font-size: 13px;
	color: #333333;
	text-align: left;
}

.fourteen {
	font-size: 14px;
	color: #3f3f3f;
	text-align: left;
}

.subheading {
	font-size: 12px;
	color: #3f3f3f;
}

.heading {
	font-size: 14px;
	color: #3f3f3f;
}


.seeLARGER {
	font-size: 14px;
	color: #3f3f3f;
	text-align: center;
}





.indexdisclaimer {
	font-size: 13px;
	font-style: italic;
	color: #3f3f3f;
}

.red {
	color: #ff00a6;
}



.REDthirty {
	color: #ff00a6;
	font-size: 30px;
	text-shadow: 1px 1px #777;
}

.GREENthirty {
	color: #00ff00;
	font-size: 30px;
	text-shadow: 1px 1px #777;
}
.BLUEthirty {
	color: #0072ff;
	font-size: 30px;
	text-shadow: 1px 1px #777;
}

.MEDIUMheading {
	font-size: 18px;
	color: #3f3f3f;
	margin: 0px 0px 0px 0px;
}


.NOPEheading {
	font-size: 14px;
	font-style: italic;
	color: #3f3f3f;
	margin: 0px 0px 0px 0px;
}


.BIGheading {
	font-size: 24px;
	color: #3f3f3f;
	margin: 0px 0px 0px 0px;
}


.biggerBLUEheading {
	font-size: 28px;
	color: #3399ff;
	margin: 0px 0px 0px 0px;
}


.biggerGREENheading {
	font-size: 22px;
	color: #00ff00;
	margin: 0px 0px 0px 0px;
}


.bigREDheading {
	font-size: 38px;
	color: #ff0066;
	margin: 0px 0px 0px 0px;
}


.RED28pxheading {
	font-size: 28px;
	color: #ff0066;
	margin: 0px 0px 0px 0px;
}


.CORAL28pxheading {
	font-size: 28px;
	color: #ff7f50;
	margin: 0px 0px 0px 0px;
}

.CORAL18pxheading {
	font-size: 18px;
	color: #ff7f50;
	margin: 0px 0px 0px 0px;
}

.bigREDheadingPINK {
	font-size: 38px;
	color: #ff00a6;
	margin: 0px 0px 0px 0px;
}


.bigGREENheading {
	font-size: 38px;
	color: #36ef08;
	margin: 0px 0px 0px 0px;
}

.bigGREENheadingLIME {
	font-size: 38px;
	color: #00ff00;
	margin: 0px 0px 0px 0px;
}


.bigBLUEheading {
	font-size: 38px;
	color: #3399ff;
	margin: 0px 0px 0px 0px;
}

.bigDARKBLUEheading {
	font-size: 38px;
	color: #0000cc;
	margin: 0px 0px 0px 0px;
}
.WHITEcallout {
	font-size: 16px;
	color: #fff;
}

.BIGGERheading {
	font-size: 28px;
	color: #3f3f3f;
}

.HUGEheading {
	font-size: 38px;
	color: #000000;
}

.callout {
	font-size: 16px;
	color: #3f3f3f;
}

.BLACKsidebar {
	font-size: 14px;
	color: #fff;
}


.BLUEemail {
	font-size: 18px;
	color: #fff;
}


.tenpxtext {
	color: #00ff00;
	font-size: 10px;
}

.ninepxGREYtext {
	color: #666666;
	font-size: 9px;
}

.whitetext {
	color: #fff;
	font-size: 10px;
}

.greytext {
	color: #666666;
	font-size: 14px;
	margin: 0px 0px 0px 6px;
}
